.booking-title{
    width: 282px;
    height: 65px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 79px;
    text-align: center;
    color: #023020;
}

.booking-form{
    width: 1221px;
    /* height: 950px; */
    padding: 20px;
    background: #A05D01;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 50px;
}

.check-details{
    width: 405px;
    height: 41px;
    padding-top: 10px;
    margin-left: 400px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    /* line-height: 30px; */
    text-align: center;
    color: #FFFFFF;
}

.checkAvailable{
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
}

.labelText{
    width: 131px;
    height: 24px;
    /* left: 228px;
    top: 648px; */
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.inputCheck{
    width: 200px;
    height: 40px;
    background: #FFFFFF;
    border-radius: 10px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.checkButton{
    width: 72px;
    height: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
    /* button */
    width: 150px;
    height: 48px;
    background: #630202;
    border-radius: 10px;
    margin-top: 50px;
    margin-left: 145px;
}

.bookLocation-title{
    width: 405px;
    height: 41px;
    margin-top: 50px;
    margin-left: 400px;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 30px;
    text-align: center;
    color: #EFCE1B;
}

.location-details{
    margin-top: 50px;
    margin-left: 120px;
    display: grid;
    grid-template-columns: auto auto;
}

.booking-details{
    width: 131px;
    height: 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-right: 10px;
}

.booking-area{
    width: 250px;
    height: 48px;
    background: #FFFFFF;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

#bookingName{
    margin-left: 46px;
}

#bookingMail{
    margin-left: 63px;
}

#bookingRequirment{
    margin-left: 67px;
    outline: none;
    padding-left: 10px;
    width: 51%;
    height: 100%;
}

#bookingDate{
    margin-left: 73px;
}

#bookingTime{
    margin-left: 73px;
}

#bookingToTime{
    margin-left: 95px;
}

.book-button{
    margin-top: 50px;
    margin-left: 265px;
    width: 72px;
    height: 27px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #630202;
    /* button */
    width: 150px;
    height: 48px;
    left: 372px;
    top: 1427px;
    background: #EFCE1B;
    border-radius: 10px;
}