.team-card{
    width: 250px;
    height: 250px;
    margin-top: 20px;
    background: rgb(203, 194, 194);
    border-radius: 20px;
}

.avater{
    width: 100px;
    height: auto;
    border-radius: 50%;
    margin: auto;
    /* margin-left: 45px; */
    padding-top: 10px;
}

.team-details{
    margin-top: 40px;
}

.card-details{
    font-size: 15px;
    font-weight: 200;
    text-align: center;
    margin-top: 10px;
}